.appContainer{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
  /* border:1px solid red */
}

.container{
  display: flex;
  flex-direction: column;
  border:1px solid black;
  width: 300px;
  padding:20px 20px;
  /* background-color: red; */
}
.mapitem{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.removeli{
  cursor: pointer;
}
.childli{
text-decoration:line-through ;
}